body {
    background-size: 100%;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}

.content {
    padding: 2em 1em 0;
}

.history {
    padding-top: 2em;
    padding-left: 0;
    list-style-type: none;
}

.history li {
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 1em;
}